@font-face {
    font-family: spaceMono;
    src: url(../assets/fonts/SpaceMono-Regular.ttf);
}
body{
    background-image: url(../assets/images/espacio.png);
}
.canvas {
    display: block;
    margin: 0 auto;
}
.container__button{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.button{
    font-family: spaceMono;
    margin: 20px 0px 0px 50px;
    padding: 5px 20px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 1.3rem;
    outline: none;
}